/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px, ... */
h2.section-number {
  font-weight: 500;
  font-size: 24px; }
  @media only screen and (min-width: 40.0625em) {
    h2.section-number {
      font-size: 28px; } }
  @media only screen and (min-width: 64.0625em) {
    h2.section-number {
      font-size: 32px; } }

h3.section-title {
  font-size: 12px;
  font-weight: 300;
  color: #727272;
  padding-left: 24px;
  background-image: url(../img/smile.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 0 50%; }
  h3.section-title.indent {
    margin-left: -24px;
    margin-bottom: 30px; }
  @media only screen and (min-width: 40.0625em) {
    h3.section-title {
      font-size: 16px; } }
  @media only screen and (min-width: 64.0625em) {
    h3.section-title {
      font-size: 23px; } }

button[data-balloon] {
  overflow: visible; }

[data-balloon] {
  position: relative; }

[data-balloon]:before,
[data-balloon]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.18s ease-out 0.18s;
  transition: all 0.18s ease-out 0.18s;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 10;
  -webkit-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top; }

[data-balloon]:after {
  background: rgba(17, 17, 17, 0.9);
  border-radius: 4px;
  color: #fff;
  content: attr(data-balloon);
  font-size: 12px;
  padding: .5em 1em;
  white-space: nowrap;
  margin-bottom: 11px; }

[data-balloon]:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(17, 17, 17, 0.9)" transform="rotate(0)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;
  background-size: 100% auto;
  height: 6px;
  width: 18px;
  content: "";
  margin-bottom: 5px; }

[data-balloon]:hover:before,
[data-balloon][data-balloon-visible]:before,
[data-balloon]:hover:after,
[data-balloon][data-balloon-visible]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

[data-balloon][data-balloon-break]:after {
  white-space: normal; }

[data-balloon-pos="down"]:before,
[data-balloon-pos="down"]:after {
  bottom: auto;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -10px);
  -ms-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px); }

[data-balloon-pos="down"]:after {
  margin-top: 11px; }

[data-balloon-pos="down"]:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(17, 17, 17, 0.9)" transform="rotate(180 18 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;
  background-size: 100% auto;
  height: 6px;
  width: 18px;
  margin-top: 5px;
  margin-bottom: 0; }

[data-balloon-pos="down"]:hover:before,
[data-balloon-pos="down"][data-balloon-visible]:before,
[data-balloon-pos="down"]:hover:after,
[data-balloon-pos="down"][data-balloon-visible]:after {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

[data-balloon-pos="left"]:before,
[data-balloon-pos="left"]:after {
  bottom: auto;
  left: auto;
  right: 100%;
  top: 50%;
  -webkit-transform: translate(10px, -50%);
  -ms-transform: translate(10px, -50%);
  transform: translate(10px, -50%); }

[data-balloon-pos="left"]:after {
  margin-right: 11px; }

[data-balloon-pos="left"]:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="rgba(17, 17, 17, 0.9)" transform="rotate(-90 18 18)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;
  background-size: 100% auto;
  height: 18px;
  width: 6px;
  margin-right: 5px;
  margin-bottom: 0; }

[data-balloon-pos="left"]:hover:before,
[data-balloon-pos="left"][data-balloon-visible]:before,
[data-balloon-pos="left"]:hover:after,
[data-balloon-pos="left"][data-balloon-visible]:after {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

[data-balloon-pos="right"]:before,
[data-balloon-pos="right"]:after {
  bottom: auto;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-10px, -50%);
  -ms-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%); }

[data-balloon-pos="right"]:after {
  margin-left: 11px; }

[data-balloon-pos="right"]:before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12px" height="36px"><path fill="rgba(17, 17, 17, 0.9)" transform="rotate(90 6 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>') no-repeat;
  background-size: 100% auto;
  height: 18px;
  width: 6px;
  margin-bottom: 0;
  margin-left: 5px; }

[data-balloon-pos="right"]:hover:before,
[data-balloon-pos="right"][data-balloon-visible]:before,
[data-balloon-pos="right"]:hover:after,
[data-balloon-pos="right"][data-balloon-visible]:after {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

[data-balloon-length]:after {
  white-space: normal; }

[data-balloon-length="small"]:after {
  width: 80px; }

[data-balloon-length="medium"]:after {
  width: 150px; }

[data-balloon-length="large"]:after {
  width: 260px; }

[data-balloon-length="xlarge"]:after {
  width: 90vw; }

@media screen and (min-width: 768px) {
  [data-balloon-length="xlarge"]:after {
    width: 380px; } }
[data-balloon-length="fit"]:after {
  width: 100%; }

.can-toggle {
  position: relative; }
  .can-toggle *, .can-toggle *:before, .can-toggle *:after {
    box-sizing: border-box; }
  .can-toggle input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0; }
    .can-toggle input[type="checkbox"][disabled] ~ label {
      pointer-events: none; }
      .can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
        opacity: 0.4; }
    .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
      content: attr(data-unchecked);
      left: 0; }
    .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
      content: attr(data-checked); }
  .can-toggle label {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center; }
    .can-toggle label .can-toggle__label-text {
      flex: 1;
      padding-left: 32px; }
    .can-toggle label .can-toggle__switch {
      position: relative; }
      .can-toggle label .can-toggle__switch:before {
        content: attr(data-checked);
        position: absolute;
        top: 0;
        text-transform: uppercase;
        text-align: center; }
      .can-toggle label .can-toggle__switch:after {
        content: attr(data-unchecked);
        position: absolute;
        z-index: 5;
        text-transform: uppercase;
        text-align: center;
        background: white;
        transform: translate3d(0, 0, 0); }
  .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
    color: #e6e6e6; }
  .can-toggle input[type="checkbox"]:hover ~ label {
    color: #f2f2f2; }
  .can-toggle input[type="checkbox"]:checked ~ label:hover {
    color: #1e1e1e; }
  .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
    background-color: #333333; }
    .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
      color: #191919; }
  .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
    background-color: #262626; }
    .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
      color: #0d0d0d; }
  .can-toggle label .can-toggle__label-text {
    flex: 1; }
  .can-toggle label .can-toggle__switch {
    transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
    background: white; }
    .can-toggle label .can-toggle__switch:before {
      color: #262626; }
    .can-toggle label .can-toggle__switch:after {
      -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
      transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
      color: #ffffff; }
  .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    transform: translate3d(63px, 0, 0); }
  .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4); }
  .can-toggle label {
    font-size: 16px; }
    .can-toggle label .can-toggle__switch {
      height: 54px;
      flex: 0 0 134px;
      border-radius: 50px; }
      .can-toggle label .can-toggle__switch:before {
        left: 67px;
        font-size: 16px;
        line-height: 54px;
        width: 67px;
        padding: 0 12px; }
      .can-toggle label .can-toggle__switch:after {
        top: 4px;
        left: 4px;
        border-radius: 25px;
        width: 63px;
        line-height: 46px;
        font-size: 16px; }
      .can-toggle label .can-toggle__switch:hover:after {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4); }
  .can-toggle.can-toggle--size-small input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    transform: translate3d(44px, 0, 0); }
  .can-toggle.can-toggle--size-small input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }
  .can-toggle.can-toggle--size-small label {
    font-size: 13px; }
    .can-toggle.can-toggle--size-small label .can-toggle__switch {
      height: 28px;
      flex: 0 0 90px;
      border-radius: 2px; }
      .can-toggle.can-toggle--size-small label .can-toggle__switch:before {
        left: 45px;
        font-size: 10px;
        line-height: 28px;
        width: 45px;
        padding: 0 12px; }
      .can-toggle.can-toggle--size-small label .can-toggle__switch:after {
        top: 1px;
        left: 1px;
        border-radius: 1px;
        width: 44px;
        line-height: 26px;
        font-size: 10px; }
      .can-toggle.can-toggle--size-small label .can-toggle__switch:hover:after {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }
  .can-toggle.can-toggle--size-large input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    transform: translate3d(78px, 0, 0); }
  .can-toggle.can-toggle--size-large input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-large input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }
  .can-toggle.can-toggle--size-large label {
    font-size: 14px; }
    .can-toggle.can-toggle--size-large label .can-toggle__switch {
      height: 50px;
      flex: 0 0 160px;
      border-radius: 4px; }
      .can-toggle.can-toggle--size-large label .can-toggle__switch:before {
        left: 80px;
        font-size: 14px;
        line-height: 50px;
        width: 80px;
        padding: 0 12px; }
      .can-toggle.can-toggle--size-large label .can-toggle__switch:after {
        top: 2px;
        left: 2px;
        border-radius: 2px;
        width: 78px;
        line-height: 46px;
        font-size: 14px; }
      .can-toggle.can-toggle--size-large label .can-toggle__switch:hover:after {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }
  .can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
    color: #8f315c; }
  .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label {
    color: #a23768; }
  .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label:hover {
    color: #39916a; }
  .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch {
    background-color: #44ae7f; }
    .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
      color: #368a65; }
  .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
    background-color: #3d9c72; }
    .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
      color: #2f7757; }
  .can-toggle.demo-rebrand-1 label .can-toggle__label-text {
    flex: 1; }
  .can-toggle.demo-rebrand-1 label .can-toggle__switch {
    transition: background-color 0.3s ease-in-out;
    background: #c14b81; }
    .can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
      color: rgba(255, 255, 255, 0.6); }
    .can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
      -webkit-transition: -webkit-transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;
      color: #b53e74; }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
    color: #2b2b2b; }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label {
    color: #373737; }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label:hover {
    color: #62b125; }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
    background-color: #75d32d; }
    .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
      color: #5da924; }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
    background-color: #69be28; }
    .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
      color: #52941f; }
  .can-toggle.demo-rebrand-2 label .can-toggle__label-text {
    flex: 1; }
  .can-toggle.demo-rebrand-2 label .can-toggle__switch {
    transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    background: #515151; }
    .can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
      color: rgba(255, 255, 255, 0.7); }
    .can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
      -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      color: #444; }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    transform: translate3d(58px, 0, 0); }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }
  .can-toggle.demo-rebrand-2 label {
    font-size: 13px; }
    .can-toggle.demo-rebrand-2 label .can-toggle__switch {
      height: 60px;
      flex: 0 0 120px;
      border-radius: 60px; }
      .can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
        left: 60px;
        font-size: 13px;
        line-height: 60px;
        width: 60px;
        padding: 0 12px; }
      .can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
        top: 2px;
        left: 2px;
        border-radius: 30px;
        width: 58px;
        line-height: 56px;
        font-size: 13px; }
      .can-toggle.demo-rebrand-2 label .can-toggle__switch:hover:after {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "filson-soft", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #262626;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #262626;
  text-decoration: underline; }
  a:hover {
    color: #000000; }

.mob-only {
  display: block; }
  @media only screen and (min-width: 40.0625em) {
    .mob-only {
      display: none; } }

.med-up-only {
  display: none; }
  @media only screen and (min-width: 40.0625em) {
    .med-up-only {
      display: block; } }

.global-header {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  z-index: 3;
  padding-top: 22px; }
  .global-header header {
    margin-bottom: 30px; }
    .global-header header .logo {
      display: inline-block; }
      .global-header header .logo .logo-image {
        width: 113px;
        margin-top: 6px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .global-header header .logo .logo-image:hover {
          transform: scale(1.1); }
        @media only screen and (min-width: 40.0625em) {
          .global-header header .logo .logo-image {
            width: 135.6px; } }
        @media only screen and (min-width: 64.0625em) {
          .global-header header .logo .logo-image {
            width: 146.9px; } }
  .global-header .menu-button {
    padding: 0;
    width: 50px;
    height: 16px;
    margin-top: 12px;
    position: absolute;
    right: 0;
    background: url(../img/menu.svg) no-repeat;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .global-header .menu-button:hover {
      transform: scale(1.2); }
  .global-header .call-us-btn {
    background-color: #e8e8e8;
    background-image: url(../img/phone-icon.svg);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 50% 50%;
    display: block;
    padding: 20px;
    position: absolute;
    left: 24px;
    font-size: 11px;
    border-radius: 4px; }
    @media only screen and (min-width: 40.0625em) {
      .global-header .call-us-btn {
        background-position: 8px 50%;
        padding: 14px 10px;
        padding-left: 32px;
        background-size: 17px 17px; } }
    .global-header .call-us-btn .btn-text {
      display: none; }
      @media only screen and (min-width: 40.0625em) {
        .global-header .call-us-btn .btn-text {
          display: block; } }
  .global-header h1 {
    font-size: 22px;
    font-weight: 500;
    width: 90%;
    margin: 0 auto; }
    @media only screen and (min-width: 40.0625em) {
      .global-header h1 {
        font-size: 44px; } }
    @media only screen and (min-width: 64.0625em) {
      .global-header h1 {
        font-size: 52.8px;
        width: 70%; } }
  .global-header a {
    color: #000000;
    text-decoration: underline; }
  .global-header p {
    font-size: 11px;
    color: #727272; }
    @media only screen and (min-width: 40.0625em) {
      .global-header p {
        font-size: 16.5px; } }

img.small-green-smile {
  width: 25px; }

footer .footer-signoff img, footer .footer-signoff p {
  position: relative;
  z-index: 3; }
footer .menu-items {
  list-style-type: none;
  margin: 0;
  padding: 12px;
  font-size: 12px;
  background: #f5f5f5;
  border-top: 4px solid #e8e8e8; }
  footer .menu-items li {
    display: block;
    margin: 12px 0 0 0; }
    @media only screen and (min-width: 64.0625em) {
      footer .menu-items li {
        display: inline-block;
        margin: 24px 12px 24px 0; } }
footer .legal {
  background-color: #f5f5f5;
  padding: 24px;
  padding-top: 160px;
  margin-top: -160px; }
  @media only screen and (min-width: 40.0625em) {
    footer .legal {
      padding-top: 130px; } }
  @media only screen and (min-width: 64.0625em) {
    footer .legal {
      padding-top: 200px;
      margin-top: -200px; } }
  footer .legal p {
    font-size: 11px; }

html,
body,
.container,
.content-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%; }

.menu-wrap a {
  color: #262626; }
  .menu-wrap a:hover, .menu-wrap a:focus {
    color: #000000;
    text-decoration: underline; }

.content-wrap {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.content {
  position: relative; }
  .content:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
    transition: opacity 0.3s, transform 0s 0.3s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

/* Close Button */
.close-button {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 16px;
  border: none;
  z-index: 1001;
  background: transparent;
  color: transparent; }
  .close-button:before, .close-button:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #262626; }
  .close-button:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .close-button:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

/* Menu */
.menu-wrap {
  position: absolute;
  z-index: 1001;
  width: 300px;
  height: 100%;
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }
  .menu-wrap .menu {
    background: #63f5a4;
    width: calc(100% - 120px);
    height: 100%;
    padding: 2em 1em;
    color: #fff; }
    .menu-wrap .menu .menu-items {
      margin-top: 18px;
      font-weight: 500;
      font-size: 16px;
      list-style-type: none; }
      .menu-wrap .menu .menu-items li {
        margin-bottom: 18px; }

/* Morph Shape */
.morph-shape {
  position: absolute;
  width: 120px;
  height: 100%;
  top: 0;
  right: 0;
  fill: #63f5a4;
  z-index: 1000; }

/* Shown menu */
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.show-menu .content-wrap {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0); }

.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

button {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  button:hover {
    transform: scale(1.1); }

.square-btn-lrg {
  border-radius: 4px;
  padding: 24px;
  color: #262626;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  text-align: center; }

.square-btn-sml {
  border-radius: 4px;
  padding: 14px;
  color: #262626;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  text-align: center; }
  @media only screen and (min-width: 40.0625em) {
    .square-btn-sml {
      padding: 24px; } }

.pill-btn-sml,
.pill-btn-xs {
  width: auto;
  text-align: center;
  border-radius: 400px;
  padding: 14px 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px; }
  .pill-btn-sml.right,
  .pill-btn-xs.right {
    float: right; }

.pill-btn-xs {
  width: 100%;
  font-size: 12px;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 40px; }

.aqua-btn {
  background-color: #63f5a4; }
  .aqua-btn:hover {
    background-color: #54e885; }

.grey-btn {
  background-color: #e8e8e8;
  color: #262626; }
  .grey-btn:hover {
    background-color: #cdcdcd; }

.ghost-btn {
  background-color: transparent;
  border: 1px solid #e8e8e8;
  font-weight: 500; }

.orange-btn {
  background-color: #fbb256; }
  .orange-btn:hover {
    background-color: #fb9049; }

.the-help {
  color: #262626;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .the-help:hover {
    transform: scale(1.1);
    color: #000000; }
  .the-help .help-text {
    display: none;
    text-decoration: underline;
    font-style: normal;
    padding-right: 6px;
    font-weight: 500; }
    @media only screen and (min-width: 64.0625em) {
      .the-help .help-text {
        display: inline-block; } }
  .the-help .help-icon {
    width: 35px;
    height: 29px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    padding-top: 3px;
    float: right;
    display: inline-block;
    background-image: url(../img/help-bg.svg);
    background-repeat: no-repeat;
    background-size: 35px 29px;
    transform: scale(1); }

.help-wrapper .help-text {
  color: #fff; }
.help-wrapper .help-icon {
  float: none; }

.expand-panel .expand-icon {
  width: 14px;
  padding-left: 3px; }

/* Appform */
.appform {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0 36px; }
  @media only screen and (min-width: 40.0625em) {
    .appform {
      margin-top: 0; } }
  @media only screen and (min-width: 64.0625em) {
    .appform {
      margin-top: 20px; } }
  .appform .help-text {
    display: none; }
  .appform textarea {
    border: 1px solid #e8e8e8;
    box-shadow: none;
    padding: 12px;
    height: 100px;
    font-size: 16px;
    margin-bottom: 8px; }
    .appform textarea:focus {
      box-shadow: none;
      border: 1px solid #e8e8e8; }
  .appform .helpful-link {
    font-size: 12px; }

a.form-link-block {
  clear: both;
  text-decoration: underline;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 40px;
  text-align: center;
  color: #262626;
  font-weight: 300;
  font-size: 12px;
  background: #f5f5f5;
  display: block;
  padding: 0;
  padding: 12px 0; }

.form-row {
  height: auto;
  margin-bottom: 40px;
  position: relative; }
  .form-row.with-extras {
    margin-bottom: 20px; }
  .form-row .radio-check-surround {
    margin-top: 8px;
    margin-bottom: 16px; }
    .form-row .radio-check-surround .radio-btn,
    .form-row .radio-check-surround .checkbox-btn {
      width: auto;
      display: inline;
      margin-bottom: 0; }
    .form-row .radio-check-surround .input-btn-label {
      display: inline;
      width: auto;
      line-height: 1.5;
      font-weight: 200;
      font-size: 12px;
      clear: right; }

.input-text {
  padding: 0;
  border: none;
  height: 40px;
  border-bottom: 3px solid #e8e8e8;
  width: 100%;
  border-radius: 0;
  font-size: 24px;
  color: #e8e8e8;
  font-weight: 300;
  background-color: none; }
  .input-text.input-background {
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 24px; }
    .input-text.input-background.background-pound {
      background-image: url(../img/pound-sign.svg);
      background-position: 0 50%; }
  .input-text.error {
    border-color: #f46a6e; }

.note-surround {
  display: inline-block; }
  .note-surround .form-note {
    font-size: 12px;
    font-style: italic;
    margin-top: 8px; }
    .note-surround .form-note.with-image {
      width: 75%;
      floaT: left; }
    .note-surround .form-note + .note-image {
      width: 44px;
      float: right;
      margin-top: 12px; }

select.input-text {
  color: #ccc;
  background-image: url(../img/down-arrow.svg);
  background-repeat: no-repeat;
  background-size: 11px 8px;
  background-position: 98% 50%;
  margin-bottom: 0; }

.input-text.with-help {
  width: 75%; }

.input-text.with-button {
  width: 50%; }

.label-helper {
  position: absolute;
  font-size: 12px;
  font-weight: 300;
  opacity: 0;
  transition: .2s bottom, .2s opacity;
  bottom: 0;
  left: 0;
  z-index: 1; }

.input-text:focus,
select.input-text:focus {
  border-bottom: 3px solid #63f5a4;
  color: #262626;
  font-weight: 500;
  outline: none; }
  .input-text:focus.error,
  select.input-text:focus.error {
    border-color: #f46a6e; }

input.input-text:not(:focus) {
  color: #262626; }

.input-text:focus + .label-helper, .input-text:invalid + .label-helper {
  bottom: 95%;
  opacity: 1; }

.input-text:invalid + .label-helper::after {
  color: #f00;
  content: "X"; }

.toggle-switches {
  border: 2px solid #e8e8e8;
  border-radius: 50px;
  background: #ffffff;
  width: 96%;
  padding: 4px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  list-style-type: none; }
  .toggle-switches .switch {
    width: 49%;
    display: inline-block; }
    .toggle-switches .switch .switch-link {
      width: 100%;
      color: #ffffff;
      text-decoration: none;
      display: inline-block;
      background: #fbb256;
      font-weight: 500;
      padding: 12px;
      border-radius: 50px; }
      .toggle-switches .switch .switch-link:hover {
        background: #fb9049; }
      .toggle-switches .switch .switch-link.inactive {
        background: #ffffff;
        font-weight: 300;
        text-decoration: underline;
        color: #262626; }

select.input-text.inline-select {
  background-image: url(../img/down-arrow-blue.svg);
  background-position: 85% 50%;
  background-color: #ffffff;
  border: 2px solid #41dadc;
  border-radius: 4px;
  display: inline-block;
  width: auto;
  min-width: 70px;
  height: auto;
  color: #41dadc;
  font-size: 16px;
  padding: 10px;
  padding-right: 30px;
  margin: 4px 6px;
  font-weight: 500; }
  @media only screen and (min-width: 40.0625em) {
    select.input-text.inline-select {
      font-size: 18px;
      min-width: 90px; } }
  @media only screen and (min-width: 64.0625em) {
    select.input-text.inline-select {
      font-size: 22px; } }

.smile-header-container {
  height: 160px;
  width: 100%;
  overflow: hidden;
  margin-top: -110px;
  position: relative;
  z-index: 2; }
  .smile-header-container.aqua-container {
    height: 100px; }
    @media only screen and (min-width: 40.0625em) {
      .smile-header-container.aqua-container {
        height: 140px; } }
    @media only screen and (min-width: 64.0625em) {
      .smile-header-container.aqua-container {
        height: 190px; } }
  .smile-header-container.footer {
    margin-top: -60px; }
    @media only screen and (min-width: 40.0625em) {
      .smile-header-container.footer {
        margin-top: -120px; } }
  @media only screen and (min-width: 40.0625em) {
    .smile-header-container {
      margin-top: -130px;
      height: 230px; } }
  @media only screen and (min-width: 64.0625em) {
    .smile-header-container {
      margin-top: -200px;
      height: 260px; } }

.smile-header {
  background: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 200%;
  margin-top: -188%;
  margin-left: -50%;
  padding-bottom: 200%;
  border: 45px solid #f5f5f5; }
  .smile-header.aqua-smile {
    border-color: #63f5a4;
    background: #63f5a4;
    margin-top: 0;
    margin-bottom: -188%;
    padding-bottom: 100%; }

.balance-box {
  background: #41dadc;
  padding: 100px 0 150px 0;
  text-align: center;
  z-index: -1;
  margin-top: -90px; }
  @media only screen and (min-width: 40.0625em) {
    .balance-box {
      margin-top: -160px;
      padding-top: 160px; } }
  @media only screen and (min-width: 64.0625em) {
    .balance-box {
      margin-top: -200px;
      padding-top: 220px; } }
  .balance-box .balance {
    position: relative; }
  .balance-box .balance .the-help {
    position: absolute;
    top: 24px;
    right: 30px;
    color: #35bbbd; }
  .balance-box .repay, .balance-box .next-statement {
    margin-top: 20px; }
    @media only screen and (min-width: 40.0625em) {
      .balance-box .repay, .balance-box .next-statement {
        margin-top: 0; } }
  .balance-box h2, .balance-box h3 {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: -2px; }
    @media only screen and (min-width: 40.0625em) {
      .balance-box h2, .balance-box h3 {
        font-size: 15px; } }
    @media only screen and (min-width: 64.0625em) {
      .balance-box h2, .balance-box h3 {
        font-size: 21px; } }
  .balance-box h2 + span {
    font-size: 36px;
    color: #ffffff;
    font-weight: 500; }
    @media only screen and (min-width: 40.0625em) {
      .balance-box h2 + span {
        font-size: 42px; } }
    @media only screen and (min-width: 64.0625em) {
      .balance-box h2 + span {
        font-size: 56px; } }
  .balance-box h3 + span {
    font-size: 28px;
    color: #ffffff;
    font-weight: 300; }
    @media only screen and (min-width: 40.0625em) {
      .balance-box h3 + span {
        font-size: 42px; } }
    @media only screen and (min-width: 64.0625em) {
      .balance-box h3 + span {
        font-size: 56px; } }
  .balance-box .help-wrapper {
    margin-bottom: 20px; }

.shadow-box {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #ffffff;
  padding: 20px 15px 15px 15px;
  border-radius: 4px;
  margin-top: -130px;
  margin-bottom: 40px;
  border-bottom: 4px solid #63f5a4; }

.credit-box {
  text-align: center; }
  .credit-box h2 {
    font-size: 14px;
    font-weight: 300; }
    @media only screen and (min-width: 40.0625em) {
      .credit-box h2 {
        font-size: 18px; } }
    @media only screen and (min-width: 64.0625em) {
      .credit-box h2 {
        font-size: 23px; } }
  .credit-box .the-help {
    position: absolute;
    right: 16px;
    top: 16px; }
  .credit-box h3 {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: -6px;
    margin-top: 12px; }
    @media only screen and (min-width: 40.0625em) {
      .credit-box h3 {
        font-size: 15px; } }
    @media only screen and (min-width: 64.0625em) {
      .credit-box h3 {
        font-size: 21px; } }
    .credit-box h3 + span.avail-credit-sum {
      font-size: 36px;
      font-weight: 500;
      display: block;
      margin-bottom: 16px; }
      @media only screen and (min-width: 40.0625em) {
        .credit-box h3 + span.avail-credit-sum {
          font-size: 42px; } }
      @media only screen and (min-width: 64.0625em) {
        .credit-box h3 + span.avail-credit-sum {
          font-size: 56px; } }
  @media only screen and (min-width: 40.0625em) {
    .credit-box .avail-credit {
      text-align: left; } }
  @media only screen and (min-width: 40.0625em) {
    .credit-box .credit-actions {
      margin-top: 16px; } }
  @media only screen and (min-width: 64.0625em) {
    .credit-box .credit-actions {
      margin-top: 26px; } }

.credit-settings-box {
  margin-top: -40px;
  padding-top: 40px;
  background-image: url(../img/grey-blob.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 300px;
  background-position: -120% 10%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  @media only screen and (min-width: 40.0625em) {
    .credit-settings-box {
      background-size: 400px;
      background-position: -10% 10%; } }

.nl-wrapper {
  position: relative;
  margin-bottom: 56px; }
  .nl-wrapper .the-help {
    position: absolute;
    top: 12px;
    right: 28px; }

p.settings-nl {
  width: 80%;
  margin: 18px 0;
  padding: 0 0 0 36px;
  line-height: 2;
  font-size: 21px; }
  @media only screen and (min-width: 40.0625em) {
    p.settings-nl {
      width: 60%;
      font-size: 27px; } }
  @media only screen and (min-width: 64.0625em) {
    p.settings-nl {
      font-size: 32px; } }

.stats-box {
  background: #63f5a4;
  text-align: center;
  color: #262626;
  padding-bottom: 40px;
  position: relative;
  z-index: 2;
  margin-top: -50px; }
  @media only screen and (min-width: 64.0625em) {
    .stats-box {
      text-align: left;
      margin-top: -90px; } }
  .stats-box header {
    position: relative; }
    .stats-box header h2 {
      font-size: 21px;
      font-weight: 500; }
      @media only screen and (min-width: 40.0625em) {
        .stats-box header h2 {
          font-size: 36px; } }
      @media only screen and (min-width: 64.0625em) {
        .stats-box header h2 {
          font-size: 42px; } }
    .stats-box header .expand-panel {
      position: absolute;
      top: 0;
      right: 0; }
    .stats-box header p {
      font-size: 12px; }
      @media only screen and (min-width: 40.0625em) {
        .stats-box header p {
          font-size: 16px; } }
      @media only screen and (min-width: 64.0625em) {
        .stats-box header p {
          font-size: 21px; } }

.shadow-box.spending-breakdown-box {
  margin-top: -20px;
  z-index: 3;
  margin-bottom: 80px; }

.spending-breakdown-box header {
  position: relative; }
  .spending-breakdown-box header h2 {
    font-size: 12px;
    font-weight: 300;
    text-align: center; }
    @media only screen and (min-width: 40.0625em) {
      .spending-breakdown-box header h2 {
        font-size: 16px;
        text-align: left; } }
    @media only screen and (min-width: 64.0625em) {
      .spending-breakdown-box header h2 {
        font-size: 21px; } }
  .spending-breakdown-box header .expand-panel {
    position: absolute;
    top: 0;
    right: 0; }
.spending-breakdown-box .spend-categories {
  font-size: 18px;
  font-weight: 500; }
  @media only screen and (min-width: 40.0625em) {
    .spending-breakdown-box .spend-categories {
      font-size: 24px; } }
  @media only screen and (min-width: 64.0625em) {
    .spending-breakdown-box .spend-categories {
      font-size: 32px; } }
  .spending-breakdown-box .spend-categories li {
    list-style-type: none;
    margin-bottom: 20px;
    text-align: center; }
    @media only screen and (min-width: 40.0625em) {
      .spending-breakdown-box .spend-categories li {
        text-align: left; } }
  .spending-breakdown-box .spend-categories a {
    color: #262626;
    line-height: 0.5;
    text-decoration: none; }
    .spending-breakdown-box .spend-categories a .spend-breakdown {
      display: block;
      font-weight: 200;
      font-size: 14px; }
      @media only screen and (min-width: 40.0625em) {
        .spending-breakdown-box .spend-categories a .spend-breakdown {
          font-size: 18px;
          padding-left: 42px; } }
      @media only screen and (min-width: 64.0625em) {
        .spending-breakdown-box .spend-categories a .spend-breakdown {
          font-size: 23px;
          padding-left: 42px; } }
    .spending-breakdown-box .spend-categories a .key {
      width: 11px;
      height: 11px;
      margin: 0 auto;
      border-radius: 4px;
      background: #262626;
      display: block; }
      .spending-breakdown-box .spend-categories a .key.key-1 {
        background-color: #63f5a4; }
      .spending-breakdown-box .spend-categories a .key.key-2 {
        background-color: #41dadc; }
      .spending-breakdown-box .spend-categories a .key.key-3 {
        background-color: #fbb256; }
      .spending-breakdown-box .spend-categories a .key.key-4 {
        background-color: #f46a6e; }
      @media only screen and (min-width: 40.0625em) {
        .spending-breakdown-box .spend-categories a .key {
          margin-right: 12px;
          width: 20px;
          height: 20px;
          display: inline-block; } }

.svg-clipped {
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath); }

/*# sourceMappingURL=main.css.map */
