// Brand Colours

$aqua-main: #63f5a4;
$aqua-tint: #54e885;

$blue-main: #41dadc;
$blue-tint: #35bbbd;

$orange-main: #fbb256;
$orange-tint: #fb9049;

$red-main: #f46a6e;
$red-tint: #e75358;


// Greys
$dark-main: #262626;
$dark-secondary: #727272;
$dark-tint: #000000;

$light-main: #e8e8e8;
$light-tint: #cdcdcd;

$white-main: #ffffff;
$white-mid: #e8e8e8;
$white-tint: #f5f5f5;