/* Appform */

.appform {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0 36px;
  @media #{$medium-up} {
    margin-top: 0;
  }
  @media #{$large-up} {
    margin-top: 20px;
  }
  
  .help-text {
    display: none;
  }
  textarea {
    border: 1px solid $white-mid;
    box-shadow: none;
    padding: 12px;
    height: 100px;
    font-size: $base-font-size;
    margin-bottom: 8px;
    &:focus {
      box-shadow: none;
      border: 1px solid $white-mid;
    }
  }
  .helpful-link {
    font-size: $para-small;
  }
}

a.form-link-block {
  clear: both;
  text-decoration: underline;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 40px;
  text-align: center;
  color: $dark-main;
  font-weight: $font-med;
  font-size: 12px;
  background: $white-tint;
  display: block;
  padding: 0;
  padding: 12px 0;
    
}

.form-row {
  height: auto;
  margin-bottom: 40px;
  position: relative;
  &.with-extras {
    margin-bottom: 20px;
  }
  .radio-check-surround {
    margin-top: 8px;
    margin-bottom: 16px;
    .radio-btn,
    .checkbox-btn {
      width: auto;
      display: inline;
      margin-bottom: 0;
    }
    .input-btn-label {
      display: inline;
      width: auto;
      line-height: 1.5;
      font-weight: $font-light;
      font-size: $para-small;
      clear: right;
    }
  }
}

.input-text {
  padding: 0;
  border: none;
  height: 40px;
  border-bottom: 3px solid $white-mid;
  width: 100%;
  border-radius: 0;
  font-size: 24px;
  color: $white-mid;
  font-weight: $font-med;
  background-color: none;
  &.input-background {
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 24px;
    &.background-pound {
      background-image: url(../img/pound-sign.svg);
      background-position: 0 50%;
    }
  }
  &.error {
    border-color: $red-main;
  }
}

.note-surround {
  display: inline-block;
  .form-note {
    font-size: $para-small;
    font-style: italic;
    margin-top: 8px;
    &.with-image {
      width: 75%;
      floaT: left;
    }
    & +.note-image {
      width: 44px;
      float: right;
      margin-top: 12px;
    }
  }
}


select.input-text {
  color: #ccc;
  background-image: url(../img/down-arrow.svg);
  background-repeat: no-repeat;
  background-size: 11px 8px;
  background-position: 98% 50%;
  margin-bottom: 0;
}

.input-text.with-help {
  width: 75%;  
}

.input-text.with-button {
  width: 50%;
}


.label-helper {
  position: absolute;
  font-size: 12px;
  font-weight: $font-med;
  opacity: 0;
  transition: .2s bottom, .2s opacity;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.input-text:focus,
select.input-text:focus {
  border-bottom: 3px solid #63f5a4;
  color: $dark-main;
  font-weight: $font-heavy;
  outline: none;
  &.error {
    border-color: $red-main;
  }
}

input.input-text:not(:focus) {
  color: $dark-main;
}

.input-text:focus + .label-helper, .input-text:invalid + .label-helper {
  bottom: 95%;
  opacity: 1;
}


.input-text:invalid + .label-helper::after {
  color: #f00;
  content: "X";

}





// toggle switch

.toggle-switches {
  border: 2px solid $white-mid;
  border-radius: 50px;
  background: $white-main;
  width: 96%;
  padding: 4px;
  margin: 0 auto;
  font-size: $base-font-size;
  text-align: center;
  list-style-type: none;
  
  .switch {
    width: 49%;
    display: inline-block;
    .switch-link {
      width: 100%;
      color: $white-main;
      display: inline-block;
      background: $orange-main;
      font-weight: $font-heavy;
      padding: 12px;
      border-radius: 50px;
      &:hover {
        background: $orange-tint;
      }
      &.inactive {
        background: $white-main;
        font-weight: $font-med;
        text-decoration: underline;
        color: $dark-main;
      }
    }
  }
  
}

select.input-text.inline-select {
  background-image: url(../img/down-arrow-blue.svg);
  background-position: 85% 50%;
  background-color: #ffffff;
  border: 2px solid $blue-main;
  border-radius: 4px;
  display: inline-block;
  width: auto;
  min-width: 70px;
  height: auto;
  color: $blue-main;
  font-size: $base-font-size;
  padding: 10px;
  padding-right: 30px;
  margin: 4px 6px;
  font-weight: $font-heavy;

  @media #{$medium-up} {
    font-size: 18px;
    min-width: 90px;
  }
  
  @media #{$large-up} {
    font-size: 22px;
  }
}





